
@{
    Layout = null;
}

@using MatTracWeb.Models

<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="images/favicon.ico" type="image/ico" />
    <title>MatTracWeb! | </title>
    <link href="~/Content/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/Content/build/css/custom.min.css" rel="stylesheet">
   
        
</head>
<body class="nav-md">
    <div class="container body">
        <div class="main_container">
            <div class="col-md-3 left_col">
                <div class="left_col scroll-view">
                    <div class="navbar nav_title" style="border: 0;">
                        <a href="#" class="site_title"><i class="fa fa-paw"></i> <span>MatTrac Web!</span></a>
                    </div>

                    <div class="clearfix"></div>

                    <!-- menu profile quick info -->
                    <div class="profile clearfix">
                        <div class="profile_pic">                           
                            <img src="~/Content/build/images/avatar.png" class="img-circle profile_img" />
                        </div>
                        <div class="profile_info">
                            <span>Hoşgeldiniz,</span>
                            <h2>@((Session["UsersReadDto.SessionUserInfo"] as UsersReadDto).UserName)  @((Session["UsersReadDto.SessionUserInfo"] as UsersReadDto).UserSurname)</h2>
                        </div>
                    </div>
                    <!-- /menu profile quick info -->
                    @*<div id="myclock"></div>*@
                    <br />

                    <!-- sidebar menu -->
                    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
                        <div class="menu_section">
                            <h3>@((Session["UsersReadDto.SessionUserInfo"] as UsersReadDto).CompanyName)</h3>
                            <ul class="nav side-menu">                               
                                <li><a href="/Home/Index"><i class="fa fa-home"></i> Ana Sayfa </a></li>
                                <li><a href="/Home/Calander"><i class="fa fa-calendar"></i> Ajanda/Takvim </a></li>
                                <li>
                                    <a><i class="fa fa-edit"></i> Yönetici İşl. <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li><a href="/UserOperation/UserProcess">Kullanıcı Düzenle/Sil</a></li>
                                        <li><a href="/UserOperation/Index">Kullanıcı Ekle</a></li>
                                        <li><a href="/UserOperation/Company">Firma İşlemleri</a></li>
                                        <li><a href="/UserOperation/CompanySave">Firma Ekle</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a><i class="fa fa-users"></i> Müşteriler <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li><a href="/Customer/Index">Müşteri Düzenle/Sil</a></li>
                                        <li><a href="/Customer/CustomerSave">Müşteri Ekle</a></li>
                                        @*<li><a href="/Customer/AracBilgisi">Araç Bilgisi Ekle</a></li>*@                                       
                                    </ul>
                                </li>
                                <li>
                                    <a><i class="fa fa-car"></i> Araçlar <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li><a href="/Arac/Index">Araçları Düzenle/Sil</a></li>                                       
                                        <li><a href="/Customer/AracBilgisi">Araç Bilgisi Ekle</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a><i class="fa fa-calculator"></i> Muhasebe İşl. <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li><a href="#">Faturalar</a></li>
                                        <li><a href="/Services/PartsPrice">Parça ve İşçilik Fiyatları</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a><i class="fa fa-car"></i> Servis Bilgileri <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li><a href="/Services/Index">Servis Formu Kaydet</a></li>
                                        @*<li><a href="#">Media Gallery</a></li>
                                        <li><a href="#">Typography</a></li>
                                        <li><a href="#">Icons</a></li>
                                        <li><a href="#">Glyphicons</a></li>
                                        <li><a href="#">Widgets</a></li>
                                        <li><a href="#">Invoice</a></li>
                                        <li><a href="#">Inbox</a></li>
                                        <li><a href="#">Calendar</a></li>*@
                                    </ul>
                                </li>
                                <li>
                                    <a><i class="fa fa-car"></i> Araç Kiralama <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li><a href="/Services/Index">Kiralık Araç Kaydet</a></li>                                   
                                    </ul>
                                </li>
                                <li>
                                    <a><i class="fa fa-wrench"></i> Stok Takip <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li><a href="/StokTakip/Index">Stok Malzeme Kaydet</a></li>   
                                        <li><a href="/Services/Index">Stok Malzeme Excel Kaydet</a></li>  
                                        <li><a href="/Services/Index">Stok Malzeme Sorgula</a></li>                                    
                                    </ul>
                                </li>
                            </ul>
                            
                        </div>
                        

                    </div>
                    <!-- /sidebar menu -->
                    <!-- /menu footer buttons -->
                    <div class="sidebar-footer hidden-small">
                        <a data-toggle="tooltip" data-placement="top" title="Settings">
                            <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                        </a>
                        <a data-toggle="tooltip" data-placement="top" title="FullScreen">
                            <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
                        </a>
                        <a data-toggle="tooltip" data-placement="top" title="Lock">
                            <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
                        </a>
                        <a data-toggle="tooltip" data-placement="top" title="Logout" href="/Shared/LogOut">
                            <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
                        </a>
                    </div>
                    <!-- /menu footer buttons -->
                </div>
            </div>

            <!-- top navigation -->
            <div class="top_nav">
                <div class="nav_menu">
                    <div class="nav toggle">
                        <a id="menu_toggle"><i class="fa fa-bars"></i></a>
                    </div>
                    <nav class="nav navbar-nav">
                        <ul class="navbar-right">
                            <li class="nav-item dropdown open" style="padding-left: 15px;">
                                <a href="javascript:;" class="user-profile dropdown-toggle" aria-haspopup="true" id="navbarDropdown" data-toggle="dropdown" aria-expanded="false">

                                    <img src="~/Content/build/images/avatar.png"alt="" />@((Session["UsersReadDto.SessionUserInfo"] as UsersReadDto).UserName)  @((Session["UsersReadDto.SessionUserInfo"] as UsersReadDto).UserSurname)
                                </a>
                                <div class="dropdown-menu dropdown-usermenu pull-right" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" href="javascript:;"> Profile</a>
                                    <a class="dropdown-item" href="javascript:;">
                                        <span class="badge bg-red pull-right">50%</span>
                                        <span>Settings</span>
                                    </a>
                                    <a class="dropdown-item" href="javascript:;">Help</a>
                                    <a class="dropdown-item"  href="/Shared/LogOut"><i class="fa fa-sign-out pull-right"></i> Log Out</a>
                                </div>
                            </li>

                            
                        </ul>
                    </nav>
                </div>
            </div>
            <!-- /top navigation -->
            <!-- page content -->
           @RenderBody()
            <!-- /page content -->
            <!-- footer content -->
            <footer>
                <div class="pull-right">
                    MatTrac - Web Uygulaması
                </div>
                <div class="clearfix"></div>
            </footer>
        </div>
    </div>
    <script src="~/Content/vendors/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/Content/build/js/custom.min.js"></script>
    
</body>
</html>



